# pip freeze > requirements.txt
# pip install -r requirements.txt
# numpy
# pandas
# pyyaml==5.4.1
# ipython
jupyter
jupyterlab
notebook==6.4.12
ipywidgets
jupyter_nbextensions_configurator 
jupyter_contrib_nbextensions
voila
traitlets==5.9.0
# scikit-learn>=1.1.3
# tensorflow>=2.8.1
# matplotlib>=3.7.2
# seaborn>=0.12.2
# shap>=0.42.1
# tensorflow>=2.8.1